@tailwind base;
@import './style.css';

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.custom__center{
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}